body {
    background-color: #f0f0f0;
    margin: 0;
    background-repeat: no-repeat;
    animation: imagefadein 1.7s ease forwards;
    min-height: 100vh;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    text-shadow: 
        0 1px 3px rgba(255,255,255,0.4), 
        0 1px 6px rgba(0,0,0,0.6),
        0 1px 3px rgba(0,0,0,0.8);
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-bottom: #363636 2px solid;
    font-size: 35px;
    margin: 3%;

}
.navbar a {
    flex: 1 1 0;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(30px);
    animation: navbarFadeIn 0.7s ease forwards;
    animation-delay: 0.2s;
    color: inherit;
     text-decoration: none;
}
/* Animate each link with a slight delay for a staggered effect */
.navbar a:nth-child(2) {
    animation-delay: 0.4s;
}
.navbar a:nth-child(3) {
    animation-delay: 0.6s;
}
.navbar a:nth-child(4) {
    animation-delay: 0.8s;
}
.navbar a:nth-child(5) {
    animation-delay: 1.0s;
}
/* Add more nth-child rules if you have more links */

@keyframes navbarFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar a:hover {
    background: #36363618;
    color: #fff;
    border-radius: 15px;
    transform: scale(1.08);
}
.download-button {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(30px);
    animation: navbarFadeIn 0.7s ease forwards;
    animation-delay: 0.2s;
}
.download-button:hover {
    background: #36363618;
    color: #fff;
    border-radius: 15px;
    transform: scale(1.08);
}
.main-content {
    margin: 3%;
}
.image-placeholder img{
    width: 92vw;
    height: auto;
    animation: imagefadein 1.7s ease forwards;
}
@keyframes imagefadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.film {
    display: grid;
    margin-top: 25vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}
.film a {
    flex: 1 1 0;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(30px);
    animation: navbarFadeIn 0.7s ease forwards;
    animation-delay: 0.4s;
    color: inherit;
    text-decoration: none;
}
.film a:hover {
    background: #36363618;
    color: #fff;
    border-radius: 15px;
    transform: scale(1.08);
}
.film a:nth-child(2) {
    animation-delay: 0.5s;
}
.film a:nth-child(3) {
    animation-delay: 0.6s;
}
.film a:nth-child(4) {
    animation-delay: 0.7s;
}